@model BannerVM
@{
    ViewBag.Title = "BannerPage";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Bordered Table -->
<div class="card">

    <h5 class="card-header">Banner</h5>
    <div class="card-body">
        <div class="table-responsive text-nowrap">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Küçük Başlık</th>
                        <th>Büyük Başlık</th>
                        <th>Button Text</th>
                        <th>Button url</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Banner item in @Model.Banners)
                    {
                    <tr>
                        <td>@item.SmallTitle</td>
                        <td>@item.BigTitle</td>
                        <td>@item.ButtonText</td>
                        <td>@item.ButtonUrl</td>
                        <td>
                            <div class="dropdown">
                                <button type="button"
                                        class="btn p-0 dropdown-toggle hide-arrow"
                                        data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    
                                    <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> @Html.ActionLink("Delete","DeleteBanner",new {id=item.ID }, new { @class = "bx bx-trash me-1 " })</a>
                                </div>
                            </div>
                        </td>

                    </tr>
                    }
                 

                </tbody>
            </table>
        </div>
    </div>
</div>
<!--/ Bordered Table -->
