@model ContactVM
@{
    ViewBag.Title = "ListContact";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card m-5">

    <h5 class="card-header">Ürünler</h5>
    <div class="card-body">
        <div class="table-responsive text-nowrap">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>İsim Soyisim</th>
                        <th>E-Mail</th>
                        <th>Telefon</th>
                        <th>Mesaj</th>
                        <th>Aktif mi</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Contact item in @Model.Contacts)
                    {
                        <tr>
                            <td>@item.NameSurname</td>
                            <td>@item.Email</td>
                            <td>@item.Phone</td>
                            <td class="">@item.Message</td>
                            <td>@item.IsClosed</td>

                            <td><span class="badge bg-label-primary me-1">@item.Status</span></td>
                            <td>
                                <div class="dropdown">
                                    <button type="button"
                                            class="btn p-0 dropdown-toggle hide-arrow"
                                            data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="javascript:void(0);"> @Html.ActionLink("Pasif-aktif", "Pasif", new { id = item.ID }, new { @class = "bx bx-edit-alt me-1 " })</a>
                                        
                                        <a class="dropdown-item" href="javascript:void(0);"> @Html.ActionLink("Delete", "DeleteContact", new { id = item.ID }, new { @class = "bx bx-trash me-1 " })</a>
                                    </div>
                                </div>
                            </td>

                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>

