@model TeamVM
@{
    ViewBag.Title = "AddTeam";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    genislik {
        width: 300px;
    }
</style>
@using (Html.BeginForm("AddTeam", "Team", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row m-5">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading m-5">
                    Team ekle
                </header>
                <div class="form-group">
                    <label class="col-sm-2">Resim Seçiniz</label>
                    <div class="col-sm-10">
                        <input type="file" name="resim" class="form-control" genislik />
                    </div>
                    
                </div>
                <br /><br />
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-2">İsim ve Soyisim</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.Team.NameSurname, new { @class = "form-control genislik" })
                            @Html.ValidationMessageFor(x => x.Team.NameSurname)
                        </div>
                    </div>
                    <br />
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2">Başlık</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(x => x.Team.Title, new { @class = "form-control genislik" })
                                @Html.ValidationMessageFor(x => x.Team.Title)
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2">Twitter</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(x => x.Team.TwitterUrl, new { @class = "form-control genislik" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2">Facebook</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(x => x.Team.FacebookUrl, new { @class = "form-control genislik" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2">Linked</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(x => x.Team.LinkedInUrl, new { @class = "form-control genislik" })
                            </div>
                        </div>
                    </div>
                    <br />


                    <div class="form-group">

                        <div class="col-sm-10">
                            <button class="btn btn-primary">
                                Team Ekle
                            </button>
                        </div>
                    </div>
                </div>



            </section>
        </div>
    </div>
}


